@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  /* Spacing */
  --spacing: 1px;

  /* Font Size */
  --text-sm: 1.4rem;
  --text-base: 1.6rem;
  --text-lg: 1.8rem;
  --text-xl: 2.2rem;
  --text-2xl: 2.6rem;
  --text-3xl: 3.2rem;

  /* Colours */
  --color-black: #4a4a4a;
  --color-dark-gray: #595959;
  --color-gray: #7a7a7a;
  --color-light-gray: #f7f7f7;
  --color-highlights: #ffc102;
  --color-dark-highlights: #e7ae00;
  --color-error: #c3441d;
  --color-dark-error: #a93a19;

  /* Shadow */
  --shadow-background: 0 -0.4rem 0.8rem -0.6rem var(--color-gray);
  --shadow-input: 0 0 0.4rem 0 var(--color-gray);

  /* Media */
  --breakpoint-sm: 500px;
  --breakpoint-md: 800px;

  /* Animation */
  --animate-slide-dot: slideDot 0.75s infinite ease-in-out;

  @keyframes slideDot {
    100%,
    0% {
      transform: translateY(0) scale(1);
    }
    50% {
      transform: translateY(-150%) scale(1.3);
    }
  }
}

:root {
  /* 1rem === 10px */
  font-size: 62.5%;
  font-family: 'Fira Sans', 'Helvetica', 'Arial', 'sans-serif';
  color: #4a4a4a;
}
